<!DOCTYPE html>
<html>
 <head>
  <meta charset = "utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content = "width=device-width, inital scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css"/>
  <style>
   table, th, td{
     border: 1px solid black
   }
   h1, h3, h5, p{
     text-align: center
   }
  </style>
 </head>
 <body>
  <h1>HBL Plan</h1>
  <h5>Brought to you by Partially Important Productions</h5>
  <p>idk what to put here honestly</p>
  <h3>Schedule</h3>
  <table id="centre" style ="border:1px solid black;margin-left:auto;margin-right:auto;">
   <tr>
     <th>Time Period</th>
     <th>Activity</th>
     <th>Evidence (where applicable)</th>
   </tr>
   <tr>
     <td>19/04 - 25/04</td>
     <td>Finish Datacamp Course on Python</td>
     <td class="evi">Certificate: https://www.datacamp.com/statement-of-accomplishment/course/1f5f10cadaaf553a329d9cddae468bc02885bfc3</td>
   </tr>
   <tr>
     <td>26/04 - 02/05</td>
     <td>Revise HTML (Codecademy)</td>
     <td class="evi">Completed Course Progress(no cert since I don't have pro): https://snipboard.io/P0A5ou.jpg</td>
   </tr>
   <tr>
     <td>03/05 - 09/05</td>
     <td>Revise CSS (freeCodeCamp)</td>
     <td class="evi">Completed Cource Progress: https://snipboard.io/ragJ7B.jpg</td>
   </tr>
   <tr>
     <td>10/05 - 16/05</td>
     <td>Sorting (Google Classroom)</td>
     <td>Notes from Videos: https://colab.research.google.com/drive/10rhFMgX5YiQlMm0XCCk3Rx7ZKFGF1331#scrollTo=c713fkXQkr5n</td>
   </tr>
   <tr>
     <td>17/05-23/05</td>
     <td>Joke Website(cereal)</td>
     <td>Website Link: </td>
   </tr>
  </table>
 </body>
</html>
